<!DOCTYPE html>
<html>
<head>
    <title>CRM Dashboard</title>
</head>
<body>
    <h1>Marketplace List</h1>

    <% if (marketplaces.length === 0) { %>
        <p>No marketplaces yet.</p>
    <% } else { %>
        <ul>
            <% marketplaces.forEach(m => { %>
                <li><%= m.name %></li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>
