<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>🚀 <%= title %></h1>
        <p><%= message %></p>

        <div class="card">
            <h2>Pasul 2 complet</h2>
            <p>Acum folosim view engine (EJS).</p>
        </div>
    </div>
</body>
</html>
